<div class="container signup-box">
  <div class="form-wrap">
    <h2>Sign up for cahoots!</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %>
      <%= f.email_field :email, :autofocus => true %></div>

      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
        <div class="hint">at least 6 characters</div>
      </div>


      <div><%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %></div>

      <div class="tos"><%= f.check_box :tos %> <%= f.label :tos, raw("I agree to the #{link_to "Terms of Service", terms_path} and #{link_to "Privacy Policy", privacy_path}") %> </div>

      <div><%= f.submit "Sign up" %></div>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
