
<div class="container profile-wrap">
  <div class="scs">
    <h2>check out your social cards</h2>
    <div class="sc">
      <div class="cover">
        <div class="backwash"></div>
        <div class="create">
          <span>Create a new Social Card</span>
          <div class="usage">
            <%= form_tag new_socialcard_path do -%>
              <input type="hidden" value="personal" name="type">
              <button class="use btn">personal use</button>
            <% end %>
            <%= form_tag new_socialcard_path do -%>
              <input type="hidden" value="professional" name="type">
              <button class="use btn">professional use</button>
            <% end %>
          </div>
        </div>
      </div>
      <div class="avatar">
        <%= image_tag 'default-avatar.jpg' %>
      </div>
      <div class="content">
        <div class="networks">
          last edited 5 days ago
        </div>
        <div class="name">Jane Doe</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec urna eros. Vivamus suscipit neque et sapien tempus id pulvinar velit laoreet.</p>
      </div>
    </div>
    <% @scs.each do |s| %>
      <div class="sc">
        <div class="avatar">
          <%= image_tag s.avatar.url(:thumb) %>
        </div>
        <div class="content">
          <div class="networks">
            last edited <%= time_ago_in_words s.updated_at %> ago
          </div>
          <div class="name"><%= s.display_name %> </div>
          <p><%= s.description %></p>
          <hr/>
          <div class="actions">
            <div class="permalink">
              <div class="label">this is your link</div>
              <input type="text" value="<%= request.protocol + request.host_with_port + show_socialcard_path(:username => s.username) %>" readonly>
            </div>
            <div class="links">
              <%= link_to 'view', show_socialcard_path(:username => s.username), :target => "_blank" %>
              &middot;
              <%= link_to 'edit', edit_socialcard_path(:username => s.username) %>
              &middot;
              <%= link_to 'delete', delete_socialcard_path(:id => s.id), :method => "delete", :confirm => "Are you sure you want to delete this social card?" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="tips">

  </div>
</div>
