<div class="bg">

</div>
<div class="container home-cont">
  <div class="value">Get in Cahoots!</div>
  <div class="sub-value">Create a social card and share your online presence.</div>
  <div class="home-signup">

    <div class="content">

      <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <div><%= f.label :email %>
          <%= f.email_field :email %></div>

        <div><%= f.label :password %>
          <%= f.password_field :password %></div>

        <div><%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %></div>

        <div><%= f.check_box :tos %> I agree to the <%= link_to "Terms of Service", terms_path %> and <%= link_to "Privacy Policy", privacy_path %></div>

        <div>
          <%= f.submit "Sign up" %>
          <div class="omni-sign-in">
            <%= link_to user_omniauth_authorize_path(:twitter) do %>
              <%= image_tag "Twitter_001.jpg" %>
              Sign up with Twitter
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>