<!DOCTYPE html>
<html>
<head>
  <title>cahoots</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.placeholder.min" %>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

  <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
        typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
    b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
mixpanel.init("dd13d614e0f9563cac1569914f60020a");</script><!-- end Mixpanel -->

  <%= csrf_meta_tags %>

  <meta name="google-site-verification" content="kBoHbD5jQr56Th8Dr7fVSSf7THqL7SF1QTe3YzMnN0g" />
</head>
<body>

<div class="wrapper">
  <div class="header">
    <div class="top">
      <div class="container">
        <div class="logo">
          <%= link_to root_url do %>
            <%= image_tag "logo.png" %>
          <% end %>
        </div>
        <div class="login">
          <% if user_signed_in? %>
            <div class="welcome">
              Welcome back!
            </div>
          <% else %>
            <%= form_for("user", :url => user_session_path) do |f| %>
              <div class="form-chunk">
                <div>
                  <%= f.text_field :email, :placeholder => "Email", :tabindex => "1" %>
                </div>
                <div>
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>

              </div>
              <div class="form-chunk">
                <div>
                  <%= f.password_field :password, :placeholder => "Password", :tabindex => "2" %>
                </div>
                <div>
                  <%= link_to "Forgot password?", new_password_path('user') %>
                </div>
              </div>
              <%= f.submit 'Sign in' %>
            <% end %>
            <div class="omni-sign-in">
              <%= link_to user_omniauth_authorize_path(:twitter) do %>
                <%= image_tag "Twitter_001.jpg" %>
                Sign in
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="bottom">
        <div class="nav">

          <% if user_signed_in? %>
            <div class="account-links">
              <div class="me">Account</div>
              <div class="me-links">
                <%= link_to 'My Social Cards', user_root_path %>
                <%= link_to 'Saved Social Cards', user_saved_cards_path %>
                <%= link_to 'Edit Settings', edit_user_registration_path %>
                <%= link_to "Log out", destroy_user_session_path, method: :delete %>
              </div>
            </div>
          <% end %>
          <%= link_to "About", about_path %>
          <% if admin_signed_in? %>
            <%= link_to "Admin Logout", destroy_admin_session_path, method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= yield %>
  <div class="push"></div>
</div>

<div class="footer">
  <div class="container">
    &copy; Cahoots &middot;
    <%= link_to "HOME", root_url %> &middot;
    <%= link_to "BLOG", "http://cahootsblog.com/" %> &middot;
    <%= link_to "ABOUT", about_path %> &middot;
    <%= link_to "TERMS", terms_path %> &middot;
    <%= link_to "PRIVACY", privacy_path %>

    <div class="social-links">
      <%= link_to "https://www.facebook.com/cahootspage", :target => "_blank" do %>
        <%= image_tag "facebook.png" %>
      <% end %>
      <%= link_to "https://twitter.com/cahootstweets", :target => "_blank" do %>
        <%= image_tag "twitter.png" %>
      <% end %>
      <%= link_to "http://pinterest.com/cahootspins", :target => "_blank" do %>
        <%= image_tag "pinterest.png" %>
      <% end %>
      <%= link_to "http://instagram.com/instacahoots", :target => "_blank" do %>
        <%= image_tag "instagram.png" %>
      <% end %>
    </div>
  </div>
</div>

</body>

<script type="text/javascript">
  $('input, textarea').placeholder();
</script>
</html>
